body{
  max-width: 1440px;
  margin: auto;
}
.green {
  color: #00ff84;
}

/* dropdown css */
.relative:hover .absolute {
  display: block;
  pointer-events: all;
  animation: slide-down 0.2s ease-out;
}

@keyframes slide-down {
  from { transform: translateY(-10px); }
  to { transform: translateY(0); }
}
/* dropdown css end*/